body {
  font-family: "Open Sans", sans-serif;
}


ul {
  list-style: none;
}

li.have{
  color:green;
}
li.need{
  color: red;
}
article {
    padding: 20px;
    margin: 50px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
