body {
  font-family: "Open Sans", sans-serif;
    max-width: 90%;
}
ul {
  list-style: none;
}

li.have{
  color:green;
}
li.need{
  color: red;
}
article {
    padding: 10px;
    margin: 20px;
    border: 0; 
    max-width: 95%;
    line-height: 1.2;
}
header {
    height: 0px;
}
.h2 {
    height: 45px;
    padding: 0;
    margin: 0; 
    line-height: 2;
}
h3 {
    position: relative;
    top: -10px; 
}
.subhead {
  padding: 0; 
    margin: 0; 
    max-width: 75%; 
}
.card {
  /**
   * Lay out the children of this container with
   * flexbox, which is horizontal by default.
   */
  display: flex;

  /**
   * Rotate the main axis so that the children
   * are laid out vertically.
   */
  flex-direction: column;

  border: 1px solid #CAD0D2;
  border-radius: 4px;
  overflow: hidden;
}

  .card__description {
    /**
     * Lay out the children of this container with
     * flexbox.
     */
    display: flex;

    /**
     * We're going to lay out this element's children
     * just like in the "Centered prompt" example.
     * First we'll rotate the main axis so that the
     * children are laid out vertically.
     */
    flex-direction: column;

    /**
     * Just like in the "Centered prompt" example,
     * we'll align the children in the center, along
     * the main axis.
     */
    align-items: left;

    /**
     * And just like in the "Centered prompt", we'll
     * group the children in the center of their
     * container.
     */
    justify-content: center;

    padding: 2px 0;
  }

    .card__descriptionIcon {
      font-size: 32px;
      margin-bottom: 2px;
    }

    .card__descriptionText {
      color: #57727C;
      font-size: 16px;
      text-align: left;
      max-width: calc(100% - 30px);
}