body {
  font-family: "Open Sans", sans-serif;
    max-width: 90%;
}
ul {
  list-style: none;
}

li.have{
  color:green;
}
li.need{
  color: red;
}
article {
    padding: 10px;
    margin: 20px;
    border: 0; 
    max-width: 95%;
    line-height: 1.2;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}
header {
    height: 0px;
}
.h2 {
    height: 40px;
    padding: 0;
    margin: 0; 
    line-height: 2;
}
h3 {
    position: relative;
    top: -10px; 
}
.subhead {
  padding: 0; 
    margin: 0; 
    max-width: 75%; 
}
